:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #1abc9c;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #1abc9c;
  --bs-secondary: #2c3e50;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 26, 188, 156;
  --bs-secondary-rgb: 44, 62, 80;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
}

.navbar-toggler {
  font-size: 80%;
}

.navbar-brand {
  transition: all 0.3s ease;
}

@media (max-width: 991px) {
  .navbar-collapse {
    margin-top: 2rem;
  }
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:hover {
  outline: none;
  border: none !important;
  -webkit-appearance: none;
}

#mainNavBar {
  transition: padding-top 0.3s ease-in, padding-bottom 0.3s ease-in;
}

#mainNavBar.nav-shrink {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

#mainNavBar.nav-shrink .navbar-brand {
  font-size: 1.1rem;
}

#mainNavBar .navbar-nav > li.nav-item > a.nav-link.active {
  color: #fff;
  background: #1abc9c;
}

#mainNavBar .navbar-nav > li.nav-item > a.nav-link.active:active,
#mainNavBar .navbar-nav > li.nav-item > a.nav-link.active:focus,
#mainNavBar .navbar-nav > li.nav-item > a.nav-link.active:hover {
  color: #fff;
  background: #1abc9c;
}

.nav-link {
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
}

#mainNavBar.nav-shrink .navbar-nav > li.nav-item > a.nav-link {
  font-size: 0.9rem;
}

.nav-link:hover {
  color: var(--bs-primary);
}

.landing {
  padding-top: 14.4rem;
  padding-bottom: 10rem;
  background-color: var(--bs-primary);
}

@media (max-width: 768px) {
  .landing {
    padding-bottom: 9rem;
  }
}

.intro {
  margin-top: -10rem;
}

.my-img {
  width: 13rem;
}

.star {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  width: 70px;
  height: 2px;
  margin-inline: 10px;
  margin-bottom: 12px;
  background-color: #fff;
  display: inline-block;
}

.portfolio {
  padding-top: 10rem;
  padding-bottom: 2rem;
}

.portfolio .container-fluid {
  padding-top: 7rem;
  padding-bottom: 0 !important;
}

.portfolio .container .row:nth-child(2) {
  margin-top: 1.8rem;
}

.card {
  width: 18rem;
  display: block;
  text-align: center;
  position: relative;
  cursor: pointer;
}

@media (max-width: 991px) {
  .card {
    width: 22rem;
    margin-bottom: 20px;
  }
}

.card::after {
  content: "\f067";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 4rem;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1abc9ce5;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.card:hover::after {
  opacity: 1;
  visibility: visible;
}

.about {
  padding-top: 5rem;
  padding-bottom: 12rem;
}

.about .container-fluid {
  padding-top: 3.4rem;
  padding-bottom: 3rem !important;
}

.about .row p {
  width: 100%;
  line-height: 2;
}

.contact {
  padding-top: 8rem;
  padding-bottom: 12rem;
}

input,
textarea {
  position: relative;
  border: none !important;
  border-radius: 0 !important;
  border-bottom: 1px solid #6c757d !important;
  outline: none !important;
}

input:focus,
textarea:focus,
input:active,
textarea:active {
  outline: none !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}
